<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>UP CAT官网</title>

		<!-- Bootstrap -->
		<!-- <link href="static/bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet"> -->
		<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="css/campaign/carousel.css" />
		<link rel="stylesheet" type="text/css" href="css/campaign/common.css" />

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body>

		<nav class="navbar navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				                <span class="sr-only">Toggle navigation</span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				              </button>
					<a class="navbar-brand" href="#"><img src="static/img/logo.png" /></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">

					<ul class="nav navbar-nav  navbar-right col-md-3">
						<li>
							<a href="#">登录</a>
						</li>
						<li>
							<a href="#about">注册</a>
						</li>
						<li class="my-control">
							<a href="#contact">我的控制台</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right  col-md-5">
						<li class="active">
							<a href="#">首页</a>
						</li>
						<li>
							<a href="web_test.html">Web产品测试</a>
						</li>
						<li>
							<a href="app_test.html">App测试</a>
						</li>
						<li>
							<a href="#contact">U8专区</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Carousel ========================= -->
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="container">

					</div>
				</div>
				<div class="item">
					<div class="container">

					</div>
				</div>

			</div>
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<!-- /.carousel end -->
		<div class="list-area">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="box">
							<h4>Web产品测试</h4>
							<p>支持对您的网站进行Web自动化测试、Web性能测试、Web稳定性测试、Web安全性测试，全方面的保证您的产品质量!</p>
							<a href="web_test.html">点击了解</a>

							<span class="line top1"></span><span class="line top2"></span>
							<span class="line left1"></span><span class="line left2"></span><span class="line left3"></span>
							<span class="line right1"></span><span class="line right2"></span><span class="line right3"></span>
							<span class="line bottom1"></span><span class="line bottom2"></span>

						</div>
					</div>
					<div class="col-md-4">
						<div class="box">
							<h4>App产品测试</h4>
							<p>支持对您的App产品进行App自动化测试、App稳定性测试、App漏洞分析、App兼容性测试，全方面的保证您的产品质量!</p>
							<a href="app_test.html">点击了解</a>

							<span class="line top1"></span><span class="line top2"></span>
							<span class="line left1"></span><span class="line left2"></span><span class="line left3"></span>
							<span class="line right1"></span><span class="line right2"></span><span class="line right3"></span>
							<span class="line bottom1"></span><span class="line bottom2"></span><span class="line bottom3"></span>

						</div>
					</div>
					<div class="col-md-4">
						<div class="box">
							<h4>U8专区</h4>
							<p>提供了用友U8常用的工具及系统！</p>
							<a href="#">点击了解</a>

							<span class="line top1"></span><span class="line top2"></span>
							<span class="line left1"></span><span class="line left2"></span><span class="line left3"></span>
							<span class="line right1"></span><span class="line right2"></span><span class="line right3"></span>
							<span class="line bottom1"></span><span class="line bottom2"></span>

						</div>
					</div>
				</div>
			</div>
		</div>
		<section>
			<div class="container">
				<div class="text-box col-md-6">
					<h1>一体化的测试平台</h1>
					<p>平台涵盖了App测试、web测试，让您可以通过本平台实现多领域的测试工作。</p>

					<span class="line line1"></span>
					<span class="line line2"></span>
					<span class="line line3"></span>
					<span class="line line4"></span>
					<span class="line line5"></span>
					<span class="line line6"></span>

				</div>
				<div class="img-box col-md-6">
					<img src="static/img/img-1.png" />
				</div>
			</div>
		</section>

		<section class="bg">
			<div class="container">
				<div class="img-box col-md-6">
					<img src="static/img/img-2.png" />
				</div>
				<div class="text-box col-md-6">
					<h1>全方位的测试项</h1>
					<p>平台提供了功能自动化测试、安全性测试、性能测试、稳定性测试等测试项，让您可以快速、高效地完成测试任务，保证您的产品质量。</p>

					<span class="line line1"></span>
					<span class="line line2"></span>
					<span class="line line3"></span>
					<span class="line line5"></span>
					<span class="line line4"></span>
					<span class="line line6"></span>

				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="text-box col-md-6">
					<h1>一键操作、方便快捷</h1>
					<p>平台中的测试项通过任务的形式展现，您只需要点击执行相应的测试任务按钮，就可以实现全自动地完成相关测试项。</p>

					<span class="line line1"></span>
					<span class="line line2"></span>
					<span class="line line3"></span>
					<span class="line line4"></span>
					<span class="line line5"></span>
					<span class="line line6"></span>

				</div>
				<div class="img-box col-md-6">
					<img src="static/img/img-3.png" />
				</div>
			</div>
		</section>

		<section class="bg">
			<div class="container">
				<div class="img-box col-md-6">
					<img src="static/img/img-4.png" />
				</div>
				<div class="text-box col-md-6">
					<h1>报告丰富，快速定位</h1>
					<p>测试任务完成后会产生详细的任务执行报告，图文并茂，让您可以快速地了解测试任务的执行情况，轻松地定位、复现问题。</p>

					<span class="line line1"></span>
					<span class="line line2"></span>
					<span class="line line3"></span>
					<span class="line line4"></span>
					<span class="line line5"></span>
					<span class="line line6"></span>

				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="text-box col-md-6">
					<h1>统一控制，操作简单</h1>
					<p>平台提供了统一的控制台，让您通过控制台即可实现所有的测试操作。</p>

					<span class="line line1"></span>
					<span class="line line2"></span>
					<span class="line line3"></span>
					<span class="line line4"></span>
					<span class="line line5"></span>
					<span class="line line6"></span>

				</div>
				<div class="img-box col-md-6">
					<img src="static/img/img-5.png" />
				</div>
			</div>
		</section>
		</div>
		<!-- /section end -->
		<div class="my_value" >
			<span class="last-line"></span>
			<div class="container">
				<h1>我们的价值</h1>
				<div class="row">
					<div class="col-md-4">
						<h2><span class="value"></span>W+</h2>
						<p>累计执行任务数</p>
					</div>
					<div class="col-md-4">
						<h2> <span class="value2"></span>W+</h2>
						<p>累计运行脚本数</p>
					</div>
					<div class="col-md-4">
						<h2><span class="value2"></span>+</h2>
						<p>累计发现问题数</p>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<img src="static/img/footer-logo.png" />
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-3">
								<p class="title">服务</p>
								<p>
									<a href="#">服务认证</a>
								</p>
								<p>
									<a href="#">在线客服</a>
								</p>
							</div>
							<div class="col-md-3">
								<p class="title">伙伴</p>
								<p>
									<a href="#">伙伴体系</a>
								</p>
								<p>
									<a href="#">合作联盟</a>
								</p>
							</div>
							<div class="col-md-3">
								<p class="title">公司</p>
								<p>
									<a href="#">关于我们</a>
								</p>
								<p>
									<a href="#">新闻资讯</a>
								</p>
							</div>
							<div class="col-md-3">
								<p class="title">关注我们</p>
								<img src="static/img/qr-code.png" />
							</div>
						</div>

					</div>
				</div>
			</div>
		</footer>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- <script src="static/jquery-1.11.1/jquery.min.js"></script> -->
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<!-- <script src="static/bootstrap-3.3.0/js/bootstrap.min.js"></script> -->
		<script src="javascript/jquery/jquery-1.8.2.min.js"></script>
		<script src="javascript/bootstrap/bootstrap.min.js"></script>

		<script src="javascript/campaign/main.js" type="text/javascript" charset="utf-8"></script>
		<script src="javascript/campaign/count.js"></script>
		<script type="text/javascript">
		
	$(window).scroll(function(){
		if($(window).scrollTop()>=600){
			$(".value").numberRock({
				speed: 40,
				count: 100
			})
			$(".value2").numberRock({
				speed: 30,
				count: 500
			})
			$(".value3").numberRock({
				speed: 20,
				count: 5000
			})
		}
	})

			
		</script>
	</body>

</html>